<div class="modal fade" id="coupeHomme" tabIndex="-1" role="dialog" aria-labelledby="coupeHomme"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Coupe Homme</h5>
                <div class="inner">
                    <div class="line_divider_border">
                    </div>
                    <div class="line_divider_seperator">
                        <i class="glyphicon glyphicon-leaf">
                        </i>
                    </div>
                    <div class="line_divider_border">
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wrapper_price">
                    <div class="price_name">Shampoing + Coupe + Coiffage</div>
                    <div class="price_price">22€</div>
                </div>
                <div class="wrapper_price">
                    <div class="price_name">Barbe</div>
                    <div class="price_price">20€</div>
                </div>
                <div class="wrapper_price">
                    <div class="price_name">Shampoing + Coupe + Barbe</div>
                    <div class="price_price">40€</div>
                </div>
            </div>
        </div>
    </div>
</div>