<div class="w-card">
    <div class="w-card-header">
        <div class="w-card-header-label">
            <div class="w-card-title">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </div>
    <div class="w-card-body">
        {{ content }}
    </div>
</div>