<div class="w-header">
    <div class="w-aside w-aside-fixed">
        <div class="w-aside-brand">
            <div class="w-aside-brand-logo">
                <a href="#"><i class="ac-logo"></i><i class="ac-atomyc"></i></a>
            </div>
            <div class="w-aside-brand-tools">
                <button id="btn-aside-left">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="w-aside-wrapper">
            <button class="w-aside-close">
                <i class="la la-close"></i>
            </button>
            <div class="w-menu">
                <ul class="w-menu-nav">
                    <li class="w-menu-item">
                        <a class="w-item" href="/admin/dashboard">
                            <i class="w-icon-link ac-meter"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="w-menu-item expanded">
                        <a class="w-item w-item-toggle">
                            <i class="w-icon-link ac-calendar"></i>
                            <span>Pointage</span>
                            <i class="w-icon-arrow la la-angle-right"></i>
                        </a>
                        <div class="w-submenu">
                            <ul class="w-subnav">
                                <li class="w-menu-item">
                                    <a class="w-item" href="">
                                        <i class="w-icon-bullet">
                                            <span></span>
                                        </i>
                                        <span class="w-text">test</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-aside-footer">
            <a href="#" class="btn btn-elevate btn-icon"><i class="la la-cog"></i></a>
            <a href="#" class="btn btn-elevate btn-icon"><i class="la la-bell"></i></a>
            <a href="#" class="btn btn-elevate btn-icon"><i class="la la-clone"></i></a>
            <a href="#" class="btn btn-elevate btn-icon"><i class="la la-calendar"></i></a>
        </div>
    </div>

    <div class="w-header-mobile w-header-mobile-fixed">
        <div class="w-header-mobile-logo">
            <a href="#"><i class="ac-logo"></i><i class="ac-atomyc"></i></a>
        </div>
        <div class="w-header-toolbar">
            <button class="w-header-toggle-left">
                <span></span>
            </button>
            <button class="w-header-toggle-right">
                <span></span>
            </button>
            <button class="w-header-toggle-bottom">
                <i class="la la-ellipsis-h"></i>
            </button>
        </div>
    </div>

    <div class="w-aside-overlay off">

    </div>
</div>
<div class="w-header-desktop"></div>