{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Shoping</h1>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
{% endblock %}