<footer class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <h2>Horaires</h2>
                    <ul>
                        <li>
                            <p>Dimanche et Lundi - Fermé</p>
                            <p>Mardi à Jeudi - 10h à 19h</p>
                            <p>Vendredi - 9h à 19h</p>
                            <p>Samedi - 9h à 18h30</p>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <h2>Contact</h2>
                    <ul>
                        <li><a href="tel:03 59 05 81 81"><i class="ac-mobile"></i> 03 59 05 81 81</a></li>
                        <li><a><i class="ac-location2"></i> 744 Avenue Jean Jaurès, 59790 Ronchin</a></li>
                        <li>
                            <div id="rs">
                                <span class="facebook"><a><i class="ac-facebook"></i></a></span>
                                <span class="instagram"><a><i class="ac-instagram"></i></a></span>
                                <span class="twitter"><a><i class="ac-twitter"></i></a></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                </div>
            </div>
        </div>
    </div>
</footer>